{% for index,call in calls %}
    <table class="plr_api">
        <tr>
            <td><b>#</b><b class="row_index">{{ loop.index }}</b></td>
            <td><span class="row_header">{{ call.response.statusCode ~ " " ~ call.response.reasonPhrase }}
                {% if call.time.total > 1.0 %}
                    ({{ '%0.2f'|format(call.time.total) }} s)
                {% else %}
                    ({{ '%0.0f'|format(call.time.total * 1000) }} ms)
                {% endif %}</span>
            </td>
        </tr>
        {% if call.request.body is not empty %}
            <tr>
                <td><b>Request</b></td>
                <td><pre class="row_request">{{ call.request.encodedBody|json_encode(constant("JSON_PRETTY_PRINT"))|raw }}</pre></td>
            </tr>
        {% endif %}
        {% if call.response.body is not empty %}
            <tr>
                <td><b>Response</b></td>
                <td><pre class="row_response">{{ call.response.encodedBody ? call.response.encodedBody|json_encode(constant("JSON_PRETTY_PRINT"))|raw : call.response.body }}</pre></td>
            </tr>
        {% endif %}
    </table>
{% endfor %}